<p>This is the Entrepreneurs Landing Page - This page should include guidelines for how to use the platform as an entrepreneur, it should also include links to an entrepreneurs profile (where they can edit personal info or adjust membership status)</p>
<a href="/lawyers">Our Laywers</a>
<%= link_to('Profile', current_user)  %>
